<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"> 
<title>鹏润自动上线系统</title>
</head>
<body>
<!--  <table>
	<tr>
		<td><input type="radio" name="sex">男</td>
		<td><input type="radio" name="sex">女</td>
		<td><input type="radio" name="sex">不男不女</td>
	</tr>
</table>-->

<div id="box"></div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">



//	$.get('/getNode/',function(data){
		var arr = [{{a}}, {{b}}, {{c}}, {{d}}],
		str = '';
		for (var i = 0; i < arr.length; i++) {
		str += '<input type="radio" name="sex">' + arr[i];
		}
	    $('#box').append(str);
//	}
</script>
{#{{a%}}#}
123123123
{{a}}
{{b}}
{{c}}
{{d}}
</body>
</html>